# Python
__pycache__/
*.py[cod]

# Virtual environment
.venv/

# Environment / secrets
.env
.env.*
!.env.example

# Django
staticfiles/
media/

# Database backups
/backups/*.sql
*.dump

# PyCharm
.idea/

# VS Code
.vscode/

# Tests
.pytest_cache/
.coverage
htmlcov/

# OS
.DS_Store
Thumbs.db